#posterTvGrid{
  margin-top: 80px;
}
@color: #0090FD;
body {
  background: #FFFFFF;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  position: relative;
}

ul, li {
  list-style: none;
  padding: 0;
}

.blue {
  color: #06C;
}

.green {
  color: #090;
}

.orange {
  color: #C60;
}

.white {
  color: #FFF;
}

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

/* end page container */

/* start navigation */
.navbar-default {
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: @color;
  height: 65px;
  line-height: 40px;
  padding: 0;
  width: 100px;
}

.navbar-default .navbar-brand h3 {
  font-weight: bold;
}

.navbar-default .navbar-nav li a {
  color: #404040;
  font-weight: bold;
  height: 65px;
  line-height: 40px;
}

.navbar-default .navbar-nav li a:hover {
  color: @color;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #888;
}

.navbar-default .navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: @color;
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: @color;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: @color;
}

/* end navigation */

/* start home */
h1 {
  margin: 0;
}
#home{
  padding-top: 80px;
  h2{
    padding: 10px 0 10px 0;
  }
  p{
    letter-spacing: 1px;
  }
  .carousel-caption {
    color: white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
  }
}

#home .btn{
  background: @color;
  border-radius: 0;
  border: 2px solid transparent;
  color: #FFFFFF;
  font-weight: bold;
  margin: 40px 0 0 0;
  transition: all 0.4s ease-in-out;
  height: 50px;
  width: 250px;
  padding: 12px 10px 10px 10px;
}

#home .btn:hover, #newsletter .btn:hover {
  background: #FFFFFF;
  color: @color;
}

/* end home */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  transition: 0.5s;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;

  transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
  transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
  transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
  transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
  transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator */

/* start about */
#about {
  background: url("../images/about_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 300px;
  padding: 60px 0 60px 0;
  color: #fff;
}

#about .media {
  margin-bottom: 20px;
}

#about .square {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  border: 5px solid #fff;
  padding: 60px 120px 20px 40px;
}

#about .square p {
  line-height: 2.2;
}

#about h2,
#about h3 {
  font-weight: bold;
}

#about h3 {
  margin-bottom: 20px;
}

#about h2 {
  padding: 10px 0 10px 0;
}

#about h2 span {
  display: block;
  padding-bottom: 20px;
}

#about .col-sm-7 {
  padding: 5% 0 0 20%;
}

#about p {
  font-weight: 400;
}

@media (max-width: 767px) {
  #about {
    background: #000000;
  }

  #about .col-sm-7 {
    padding: 0 30px;
  }
}

/* end about */

/* start service */
#service {
  min-height: 300px;
  padding: 65px 0 60px 0;
  background: url("../images/sercive_bg.png") no-repeat center;
  background-size: cover;
  .case-wrap {
    position: relative;
    overflow: hidden;
    height: 200px;
    border: 1px solid #ddd;
    padding: 1px;
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.02);
        transition: all .5s;
      }
      .case-hover{
        opacity: 1;
      }
    }
    & > img {
      max-width: 100%;
      min-height: 100%;
    }
    &>p.case-hover{
      //display: none;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 2;
      background-color: rgba(0, 144, 253, 0.45);
      font-weight: 700;
      transition: all .3s;
      span{
        display: block;
        line-height: 200px;
        text-align: center;
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .row:not(:last-of-type) {
    margin-bottom: 30px;
  }
}


#service {
  h3 {
    position: relative;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 20px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      background: @color;
      height: 5px;
    }
  }
}
#webApp{
  /* 滚动条 */
  ::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
    width: 5px;
    background-color: #ccc;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #fff; /*滚动条的背景颜色*/
    border-radius: 0; /*滚动条的圆角宽度*/
  }
  ::-webkit-scrollbar {
    width: 5px; /*滚动条的宽度*/
    height: 5px; /*滚动条的高度*/
  }
  ::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    //height: 50px;
    background-color: #a8a8a8;
    border-radius: 4px;
    //outline: 2px solid #fff;
    //outline-offset: -2px;
    //border: 2px solid #fff;
  }
  ::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    //height: 50px;
    background-color: #939393;
    -webkit-border-radius: 4px;
  }
  &.modal{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    padding-right: 0!important;
    .modal-dialog{
      width: 100%!important;
      min-height: 100%;
      background-color: rgba(255,255,255,.6);
      margin: 0;
      .modal-content{
        border-radius: 0;
        box-shadow: none;
        border: none;
        background-color: transparent;
        .modal-header{
          color: @color;
          border-bottom-width: 0;
          h4{
            font-weight: 700;
            font-size: 26px;
          }
          .close{
            position: fixed;
            right: 50px;
            top: 50px;
            width: 46px;
            height: 46px;
            padding: 7px;
            border: 1px solid #fff;
            border-radius: 50%;
            line-height: 32px;
            color: #ff4a45;
            opacity: 1;
          }
        }
      }
    }
  }
}
/* end service */

/* start contact */
#contact {
  background: #404040 url('../images/contact-bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
  min-height: 300px;
  padding: 80px 0 60px 0;
  overflow: hidden;
}

#contact h3 {
  font-weight: bold;
  letter-spacing: 1px !important;
  padding-bottom: 30px;
}

#contact p {
  font-weight: 400;
  padding: 0 0 40px 0;
}

/* end contact */

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

/* start 768 media quires */
@media only screen and ( max-width: 768px ) {
  .navbar-header {
    padding-left: 15px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  #home .btn {
    margin-top: 10px;
    width: 180px;
    height: 40px;
    padding-top: 8px;
  }

  #about {
    padding-top: 65px;
  }

  #team .team_thumb .team_overlay {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }
}

/* end 768 media quires */

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }

  #home h1 {
    font-size: 16px;
  }

  #home h2 {
    padding: 0;
  }

  #home .btn {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
  }

}

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
  #team .team_thumb .team_overlay {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    line-height: 220px;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }
}

/* end 360 media quires */
@import "../lib/css/import/loading";
@import "../lib/css/import/posterGrid";